<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/assets/style2.css">
    <title>Document</title>
</head>

<body>
    <h1>Select your User ID</h1>
    <form class="chat-form" action="http://localhost:5000/chat" method="GET">
        
            <div class="form-item"><input type="radio" id="idChoice1"
             name="user" value=1 required>
            <label for="idChoice1">Karsten</label></div>
        
            <div class="form-item"><input type="radio" id="idChoice2"
             name="user" value=2>
            <label for="idChoice2">Maaxi</label></div>
        
            <div class="form-item"><input type="radio" id="idChoice3"
             name="user" value=3>
            <label for="idChoice3">Thomas</label></div>

            <div class="form-item"><input type="radio" id="idChoice4"
             name="user" value=4>
            <label for="idChoice4">Klaudia</label></div>

            <div class="form-item"><input type="radio" id="idChoice5"
             name="user" value=5>
            <label for="idChoice5">Leon</label></div>
          
          
            <button type="submit">Submit</button>
          
    </form>
</body>

</html>