*{
    width: 70%;
    background-color: gray;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    margin: 10px auto;
}



button {
    margin-top: 10%;
    margin-left: 28%;
    width: 50%;
}
h1 {
    margin-left: 42%;
    margin-bottom: 5%;
}

.form-item {
    border-color: black;
    border-style: solid;
    align-items: center;
}